.element__like {
  border: 0;
  padding: 0;
  background-image: url(../../../src/images/heart-disabled.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 19px;
  margin-top: 22px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: opacity;
  align-self: center;
}

.element__like:hover {
  opacity: 0.5;
}
