.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../src/images/trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  transition-property: opacity;
  visibility: visible;
}

.element__delete:hover {
  opacity: 0.6;
}
