.profile {
   max-width: 880px;
   margin: 0;
   display: grid;
   grid-template-columns: 150px auto 150px;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 116px 50px;
    justify-items: center;
    max-width: 282px;
    row-gap: 0;
    align-self: center;
  }
}
