.main {
  margin: 40px max(200px, 200px + (100% - 1280px)/2) 67px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .main {
    /* плавное изменение размеров */
    margin: /*от 42px до 40px*/min(42px, (40px + (1280px - 100vw)/2))
            /*от 200px до 19px*/max(19px, (200px - (1280px - 100vw)/2))
            /*от 67px до 48px*/max(48px, (67px - (1280px - 100vw)/2));
  }
}
