.popup__form {
  background-color: white;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  margin-top: 8px;
}

@media screen and (max-width: 520px) {
  .popup__form {
    width: 282px;
    height: 322px;
    margin-top: 16px;
  }
}
