.profile__info {
  display: flex;
  justify-content: center;
  gap: 7px;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .profile__info {
    margin-top: 26px;
    margin-bottom: 36px;
  }
}
