.element {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 282px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 218px 64px;
  grid-template-rows: 282px 41px 38px;
}
