.element {
  background-color: white;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 224px 22px;
  grid-template-rows: 282px 54px;
  row-gap: 25px;
}
