.element {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 282px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 224px 22px;
  grid-template-rows: 282px 54px;
  row-gap: 25px;
}
