.element__title-like {
  background-image: url(../../../images/heart-disabled.svg);
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  width: 22px;
  height: 19px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: opacity;
}

.element__title-like:hover {
  opacity: 0.5;
}
